<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54594.79978376381!2d75.72383237113559!3d31.215881056490485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391af4e8654ed27b%3A0x44f046dd6942ae0d!2sPhagwara%2C%20Punjab!5e0!3m2!1sen!2sin!4v1668964413619!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"   
    width="100%" height="450">
  
    </iframe>
    

</section>